body {
    font-family: monospace;
}

#workspace {
    border: 1px gray solid;
    display: inline-block;
    color: gray;
    margin: 0 4px;
}

#input {
    font-family: monospace;
    font-size: 1em;
    width: 360px;
    height: 240px;
    display: inline-block;
    vertical-align: top;
}

#output {
    width: 360px;
    height: 240px;
    overflow: scroll;
    border: 1px gray solid;
}

